/*Default Artis*/
#defaultWerdegangBild1 {
  background: url("../media/kuentler/defaultBild.jpg") 50% 50%
    no-repeat;
  background-size: cover;
}
#defaultWerdegangBild2 {
  background: url("../media/kuentler/defaultBild.jpg") 25% 25% no-repeat;
  background-size: cover;
}
#defaultWerdegangBild3 {
  background: url("../media/kuentler/defaultBild.jpg") 50% 50%
    no-repeat;
  background-size: cover;
}
#defaultWerdegangBild4 {
  background: url("../media/kuentler/defaultBild.jpg") 50% 50%
    no-repeat;
  background-size: cover;
}

/*Fabian Ziems*/
#FabianZiemsWerdegangBild0 {
  background: url("../media/kuentler/Fabian-Ziems/film-bild.avif") 25% 25%
    no-repeat;
  background-size: cover;
}
#FabianZiemsWerdegangBild1 {
  background: url("../media/kuentler/Fabian-Ziems/theater-bild.avif") 25% 25% no-repeat;
  background-size: cover;
}
#FabianZiemsWerdegangBild2 {
  background: url("../media/kuentler/Fabian-Ziems/joy-of-voice-bild.avif") 20% 20%
    no-repeat;
  background-size: cover;
}
#FabianZiemsWerdegangBild3 {
  background: url("../media/kuentler/Fabian-Ziems/tvk-bild.avif") 25% 25%
    no-repeat;
  background-size: cover;
}
#FabianZiemsWerdegangBild4 {
  background: url("../media/kuentler/Fabian-Ziems/alles-anders-bild.jpeg") 45% 45%
    no-repeat;
  background-size: cover;
}

/*Bjarne*/
#BjarneWerdegangBild0{
  background: url("../media/kuentler/Bjarne/tvk-bild.avif") 25% 25%
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild1{
  background: url("../media/kuentler/Bjarne/save-the-best-for-us-bild.jpg")
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild2{
  background: url("../media/kuentler/Bjarne/jesc-bild.avif") 25% 25%
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild3{
  background: url("../media/kuentler/Bjarne/herz-fuer-kinder-bild.avif")
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild4{
  background: url("../media/kuentler/Bjarne/tears-of-joy-bild.jpg") 42% 42%
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild5{
  background: url("../media/kuentler/Bjarne/tonies-bild.avif") 50% 50%
    no-repeat;
  background-size: cover;
}
#BjarneWerdegangBild6{
  background: url("../media/kuentler/Bjarne/lucas-traumfabrik-bild.avif")
    no-repeat;
  background-size: cover;
}